@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
}

body {
  height: 100vh;
  background-color: #fffefc;
}

p {
  color: #8b8b8d;

}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Header part */
.header-part {
  padding: 2rem 4rem;
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo-img img {
  width: 140px;
  padding-top: .3rem;
}

ul {
  list-style: none;
  display: flex;
}

ul .nav-link {
  margin-right: 1rem;
}

ul .nav-link a {
  text-decoration: none;
  color: hsl(229, 31%, 21%);
  font-size: .8rem;
  text-transform: uppercase;
  font-weight: 500;
  transition: all 0.3s ease;
}

ul .nav-link a:hover {
  color: hsl(0, 94%, 66%);
}

ul .nav-link .login-btn {
  color: #fff;
  letter-spacing: 2px;
  background-color: hsl(0, 94%, 66%);
  padding: .5rem 1.2rem;
  border-radius: 5px;
  border: 2px solid hsl(0, 94%, 66%);
  font-size: .7rem !important;
  box-shadow: 2px 3px 65px rgba(0, 0, 0, 0.156);
}

ul .nav-link .login-btn:hover {
  color: hsl(0, 94%, 66%);
  background-color: #fff;
  outline: hsl(0, 94%, 66%);
}


/* Main part */
.main-part {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.img-part img {
  width: 100%;
  z-index: 10;
  transform: translate(-105px, 40px);
}

.img-part .behind-box {
  background-color: hsl(231, 69%, 60%);
  height: 300px;
  width: 100%;
  position: relative;
  top: -250px;
  z-index: -10;
  border-top-left-radius: 125px;
  border-bottom-left-radius: 125px;
}

.description-part p {
  color: #8b8b8d;
  font-weight: 300;
  font-size: .8rem;
}

.description-part h2 {
  color: hsl(229, 31%, 21%);
  font-size: 2rem;
  font-weight: 500;
}

.description-part {
  display: flex;
  width: 350px;
  flex-direction: column;
  gap: 1rem;
  transform: translate(30%, 20%);
}

.buttons {
  display: flex;
  gap: .7rem;
  cursor: pointer;
}

.bookmark-download {
  border: none;
  padding: .6rem .75rem;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 1px 115px rgba(0, 0, 0, 0.165);
  font-size: .7rem;
}

#chromebtn {
  color: #fff;
  background-color: hsl(231, 69%, 60%);
  outline: 2px solid hsl(231, 69%, 60%);
  transition: all .3s ease;

}

#chromebtn:hover {
  color: hsl(231, 69%, 60%);
  background-color: #fff;
  font-weight: 500;

}

#firefoxbtn {
  box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.165);
  color:  hsl(229, 31%, 21%);
  font-weight: 500;
  transition: all .3s ease;
  border: 1px solid rgb(235, 232, 232);
}

#firefoxbtn:hover {
  box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.165);
  border: 1px solid  hsl(229, 31%, 21%);
}


#main-part .features-part h1,
.download-extension h1 {
  color: hsl(229, 31%, 21%);
  font-size: 1.7rem;
  font-weight: 500;
}

#main-part .features-part,
#main-part .download-extension {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0 32%;
}

.download-extension h1 {
  font-size: 1.4rem;
}

.download-boxs {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.download-box {
  width: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  justify-content: space-between;
  border: 1px solid black;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 6px;
}

.download-box h2 {
  color: hsl(229, 31%, 21%);
}

.download-box p {
  font-size: .8rem;
}

.download-box img {
  width: 30%;
}

.add-downloadbtn {
  width: 100%;
  color: #fff;
  background-color: hsl(231, 69%, 60%);
  border: 1px solid hsl(231, 69%, 60%);
  cursor: pointer;
  border-radius: 4px;
  font-size: .7rem;
  padding: .7rem 3rem;
  white-space: nowrap;
  transition: all .3s ease;
}

.add-downloadbtn:hover {
  color: hsl(231, 69%, 60%);
  outline: 1px solid hsl(231, 69%, 60%);
  background-color: #fff;
  font-weight: 600
}

.firefox-box {
  transform: translateY(40px);
}

.opera-box {
  transform: translateY(70px);
}

.download-extension {
  margin: 2rem 0;
  height: auto;
}